
.cardImg {
  width: 380px;
}
section img.dk {
  display: none;
}

.sp, .ad, .ip{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.very{
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

@media (min-width: 1024px) {
  .cardImg {
    width: 465px;
  }
  
  .locale{
    position: relative;
  }

  .locations{
    width: 16vw;
    position: absolute;
  }
  .lekki{
    bottom: 12.58vw;
    left: 27.711vw;
  }
  .ibadan{
    left: 37.3677vw;
    bottom: 6.58vw;
  }
  .berger{
    left: 45.92vw;
  }
}
